/*
#mockup {
  width: auto;
  height: auto;
}

body {
  position: relative;
}

#bg-hero-mobile {
  display: none;
  position: absolute;
}

.hero-container {
  display: grid;
}
*/
.principal {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}
