@media (min-width: 1440px) {
  header .header-content > div {
    display: flex;
    flex-direction: row;
    text-align: left;
  }
  header .hero-container > div {
    flex: 1;
  }
  header .hero-container .mockup-img {
    flex: 2;
  }
  header .hero-container .mockup-img img {
    max-width: 100%;
  }
  .second-container .card-content {
    direction: rtl;
    display: grid;
    gap: 100px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }
  .second-container .card-2 .card-content {
    direction: ltr;
  }
  .getting-started-container {
    max-width: 700px;
  }
  footer .footer-info {
    align-items: center;
    display: flex;
    margin: auto;
    padding-bottom: 100px;
    width: 90%;
  }
  footer .footer-info > div,
  footer .footer-info ul {
    flex: 1;
  }
  footer .footer-info .info-link {
    display: flex;
    justify-content: space-around;
  }
  footer .copyright {
    text-align: right;
  }
}
