.first-container {
  height: auto;
  text-align: center;
  width: 90%;
}

.second-container {
  width: auto;
}

.card {
  box-shadow: 10px 5px 5px black;
  width: 335px;
  height: 487px;
}

.card-title {
  font-size: 28px;
  margin-bottom: 20px;
}

.card-description {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#mockup {
  width: 298px;
  height: 208px;
}

.card-1 {
  border-radius: 15px;
  margin: 45px;
}

nav {
  display: flex;
  justify-content: space-between;
}

button {
  height: 30px;
  padding: 5px 30px;
}

p {
  font-size: 19px;
  inline-size: 270px;
  margin: auto;
  overflow-wrap: break-word;
}

#grow-together-img {
  width: 380px;
}
