@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
:root {
  --very-pale-cyan: #ebfbff;
  --very-dark-cyan: #00252e;
  --grayish-blue: #808d99;
}

* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
}

.first-container {
  height: auto;
  text-align: center;
  width: 90%;
  margin: auto;
  background-image: url(../images/bg-hero-mobile.svg);
  background-color: #ecfbfe;
}

.first-container nav {
  margin-bottom: 5vw;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.first-container #logo-i {
  width: 30vw;
}

.Get-Started {
  box-shadow: 0px 1px 7px 4px rgba(0, 0, 0, 0.17);
  padding: 14px 57px;
  border: none;
  color: white;
  margin-top: 20px;
  border-radius: 40px;
  margin-bottom: 10px;
  background-color: #ff52bf;
}

.Get-Started:hover {
  background-color: #ff99da;
}

.getting-started-button {
  background-color: #ff52bf;
  /*background-color: rgb(245,105,211);*/
}

#mockup {
  width: 298px;
  height: 208px;
  margin-top: 20px;
}

.second-container {
  width: auto;
  margin-top: 10px;
}

.card {
  width: 90%;
  box-shadow: 0px 2px 7px 5px rgba(0, 0, 0, 0.17);
  margin: auto;
  margin-bottom: 37px;
  border-radius: 15px;
  width: 335px;
  height: 487px;
  height: 488px;
}

.card-img {
  max-width: 100%;
  padding-bottom: 46px;
}

.card-title {
  font-size: 25px;
}

.card-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-description {
  color: #808d99;
  font-size: medium;
  margin-top: 20px;
}

.second-container nav {
  margin-bottom: 5vw;
}

#grow-together-img {
  width: 380px;
}

.getting-started-container {
  position: relative;
  top: 130px;
  background-color: white;
  width: 100%;
  height: 176px;
  text-align: center;
  width: 90%;
  box-shadow: 0px 2px 7px 5px rgba(0, 0, 0, 0.17);
  margin: auto;
  margin-top: 117px;
  margin-bottom: 69px;
  border-radius: 15px;
  padding: 20px 30px;
}

.getting-started-container > h2 {
  margin-top: 30px;
}

.getting-started-container > button {
  box-shadow: 0px 1px 7px 4px rgba(0, 0, 0, 0.17);
  padding: 14px 49px;
  border: none;
  color: white;
  margin-top: 20px;
  border-radius: 40px;
}

footer {
  padding-top: 138px;
  background-color: #00252e;
  color: white;
  padding: 15px;
}

footer .white-logo {
  margin-top: 136px;
  margin-bottom: 25px;
}

footer .info-items {
  margin-bottom: 60px;
}

footer .info-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 25px;
}

footer .info-item img {
  margin-top: 5px;
  margin-right: 15px;
}

footer .info-link {
  list-style: none;
  margin-bottom: 60px;
}

footer .info-link > li > a {
  color: white;
  text-decoration: none;
}

.location {
  margin-top: 25px;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links > div {
  border: solid 2px white;
  border-radius: 50%;
  width: 31px;
  height: 31px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links > div:hover {
  background-color: #f556c3;
}

.social-links > div > img {
  width: 14px;
  height: 18px;
  filter: invert(100%);
}

#Copyright {
  margin: 0 auto;
  margin-top: 25px;
  text-align: center;
  margin-bottom: 50px;
  font-size: small;
}

.Try-it-free {
  background-color: white;
  padding: 8px 22px;
  border-radius: 24px;
  border: none;
  box-shadow: 0px 1px 7px 4px rgba(0, 0, 0, 0.17);
}

.Try-it-free:hover {
  background-color: #ff99da;
}
