@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
:root {
  --very-pale-cyan: #ebfbff;
  --very-dark-cyan: #00252e;
  --grayish-blue: #808d99;
}

* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
}

.first-container > * {
  margin-bottom: 10px;
  margin-top: 20px;
}

.first-container {
  height: auto;
  text-align: center;
  width: 90%;
}

.first-container nav {
  margin-bottom: 5vw;
}

.first-container #logo-i {
  width: 30vw;
}

.Get-Started {
  margin-top: 40px;
  border-radius: 30px;
  padding: 3px 40px;
  margin-bottom: 10px;
  background-color: #ff52bf;
  color: white;
}

.getting-started-button {
  background-color: #ff52bf;
}

.welcome-container {
  /* margin-top;*/
}

.first-container button {
  margin: auto;
  padding: auto;
}

#mockup {
  width: 298px;
  height: 208px;
  margin-top: 20px;
}

.second-container {
  width: auto;
  margin-top: 10px;
}

.card-1 > * {
  margin-bottom: 10px;
  margin-top: 20px;
  background-color: red;
}

.card-1 {
  height: auto;
  text-align: center;
  width: 90%;
}

.card-1 #Grow-together {
  width: 30vw;
}

.second-container nav {
  margin-bottom: 5vw;
}

.card {
  box-shadow: 10px 5px 5px black;
  width: 335px;
  height: 487px;
}

.card-description {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-1 {
  border-radius: 15px;
  margin: 45px;
}

nav {
  display: flex;
  justify-content: space-between;
}

#grow-together-img {
  width: 380px;
}
