@media (min-width: 1440px) {
  header {
    .header-content > div {
      display: flex;
      flex-direction: row;
      text-align: left;
    }

    .hero-container > div {
      flex: 1;
    }

    .hero-container .mockup-img {
      flex: 2;

      img {
        max-width: 100%;
      }
    }
  }

  .second-container {
    .card {
      &-content {
        direction: rtl;
        display: grid;
        gap: 100px;
        grid-auto-flow: dense;
        grid-template-columns: repeat(2, 1fr);
        text-align: left;
      }
    }

    .card-2 .card-content {
      direction: ltr;
    }
  }

  .getting-started-container {
    max-width: 700px;
  }

  footer {
    .footer-info {
      align-items: center;
      display: flex;
      margin: auto;
      padding-bottom: 100px;
      width: 90%;

      & > div,
      ul {
        flex: 1;
      }

      .info-link {
        display: flex;
        justify-content: space-around;
      }
    }

    .copyright {
      text-align: right;
    }
  }
}
