/*
#mockup {
  width: auto;
  height: auto;
}

body {
  position: relative;
}

#bg-hero-mobile {
  display: none;
  position: absolute;
}

.hero-container {
  display: grid;
}
*/ 

  /*
  nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vw;
    padding-top: 40px;
  }

  #logo-i {
    width: 30vw;
  }*/


@media (min-width: 1440px) { 

.hero-container {
  margin: auto;
  text-align: center;
  width: 90%;
  z-index: 2;

  .containeri{
    display: flex;
    flex-direction: row;

    .welcome-container{
      text-align: left;
      }
    #mockup{
      width: 684px;
      height: 485px;
     }
    }
  }

  .card-content{
    display: flex;
    flex-direction: row;
    background-color: yellow;
  }

  .second-img {
    background-color: red;
  }

  .secondtext{
    background-color: blue;
  }
}
