/*
#mockup {
  width: auto;
  height: auto;
}

body {
  position: relative;
}

#bg-hero-mobile {
  display: none;
  position: absolute;
}

.hero-container {
  display: grid;
}
*/ 

  /*
  nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vw;
    padding-top: 40px;
  }

  #logo-i {
    width: 30vw;
  }*/


@media (min-width: 1440px) { 

.hero-container {
  margin: auto;
  text-align: center;
  width: 90%;
  z-index: 2;

  .containeri{
    display: flex;
    flex-direction: row;

    .welcome-container{
      text-align: left;
      }
    #mockup{
      width: 684px;
      height: 485px;
     }
    }
  }

  .card-content{
    display: flex;
    flex-direction: row;
    background-color: yellow;
  }

  .second-img {
    background-color: red;
  }

  .secondtext{
    background-color: blue;
  }

  .Try-it-free{
    background-color: white;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 24px;
    box-shadow: 0px 1px 7px 4px rgba(0, 0, 0, 0.17);
    padding: 8px 22px;
  }

  nav .logo {
    #logo-i{
      width: 200px;
      height: 30px;
    }
  }

  .getting-started-container{
    max-width: 798px;
    height: 278px;
    h2{
      font-size: 33px;
    }
    button{
      margin-bottom: 44px;
    }
  }
  
}

