@import 'global';

/*@media (min-width: 375px) { */

@mixin card-size {
}

@mixin card {
  border-radius: 15px;
  box-shadow: 0px 2px 7px 5px rgba(0, 0, 0, 0.17);
  margin: auto;
  margin-bottom: 69px;
  width: 90%;
}

body {
  position: relative;
}

#bg-hero-mobile {
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
}

#bg-hero-desktop {
  display: none;
}

.first-container {
  background-color: hsl(191, 89%, 96%);
  z-index: 1;
}

.welcome-container {
  z-index: 1;
}

.hero-container {
  margin: auto;
  text-align: center;
  width: 90%;
  z-index: 2;

  nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vw;
    padding-top: 40px;
  }

  #logo-i {
    width: 30vw;
  }
}

.Get-Started {
  background-color: hsl(322, 100%, 66%);
  border: none;
  border-radius: 40px;
  box-shadow: 0px 1px 7px 4px rgba(0, 0, 0, 0.17);
  color: white;
  margin-bottom: 10px;
  margin-top: 20px;
  padding: 14px 57px;

  &:hover {
    background-color: hsl(322, 100%, 80%);
  }
}

.getting-started-button {
  background-color: hsl(322, 100%, 66%);

  /*background-color: rgb(245,105,211);*/
}

#mockup {
  height: 208px;
  margin-top: 20px;
  width: 298px;
}

.second-container {
  margin-top: 10px;
  width: auto;
}

.card {
  border-radius: 15px;
  box-shadow: 0px 2px 7px 5px rgba(0, 0, 0, 0.17);
  margin: auto;
  margin-bottom: 37px;
  width: 90%;
  @include card-size;

  &-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &-img {
    max-width: 100%;
    padding-bottom: 46px;
  }

  &-title {
    font-size: 25px;
  }

  &-description {
    color: hsl(208, 11%, 55%);
    font-size: 15px;
    margin-top: 14px;
  }
}

.second-container nav {
  margin-bottom: 5vw;
}

#grow-together-img {
  width: 380px;
}

.getting-started-container {
  background-color: white;
  height: 176px;
  padding: 20px 30px;
  position: relative;
  text-align: center;
  top: 130px;
  width: 100%;
  @include card();
  // background-color: red;
  & > h2 {
    margin-top: 30px;
  }

  & > button {
    border: none;
    border-radius: 40px;
    box-shadow: 0px 1px 7px 4px rgba(0, 0, 0, 0.17);
    color: white;
    margin-top: 20px;
    padding: 14px 49px;
  }
}

footer {
  background-color: hsl(192, 100%, 9%);
  color: white;
  padding: 15px;
  padding-top: 138px;

  & .white-logo {
    margin-bottom: 25px;
    margin-top: 136px;
  }

  & .info-items {
    margin-bottom: 60px;
  }

  & .info-item {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 25px;

    & img {
      margin-right: 15px;
      margin-top: 5px;
    }
  }

  & .info-link {
    list-style: none;
    margin-bottom: 60px;

    & > li > a {
      color: white;
      text-decoration: none;
    }
  }
}

.location {
  margin-top: 25px;
}

.social-links {
  display: flex;
  justify-content: center;

  & > div {
    align-items: center;
    border: solid 2px white;
    border-radius: 50%;
    display: flex;
    height: 31px;
    justify-content: center;
    margin-right: 20px;
    width: 31px;

    &:hover {
      background-color: hsl(319, 89%, 65%);
    }

    & > img {
      filter: invert(100%);
      height: 18px;
      width: 14px;
    }
  }
}

#Copyright {
  font-size: small;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 25px;
  text-align: center;
}

.Try-it-free {
  background-color: white;
  border: none;
  border-radius: 24px;
  box-shadow: 0px 1px 7px 4px rgba(0, 0, 0, 0.17);
  padding: 8px 22px;

  &:hover {
    background-color: hsl(322, 100%, 80%);
  }
}
/*}*/
